
h1{
    text-align: center;
    font-weight: normal;
    font-family: "verdana";
    background: #660033;
    padding: 5px 15px;
    color: white;
    display:block;     /*establece el tipo de caja*/
    border-radius: 30px 30px 30px 30px;
}

body
{
    background-color: #DCDCDC;  /* blue */
    font-size:large;
    font-family: "Verdana";
}

th, td
{ 
    text-align: center;
    vertical-align: top; 
    text-align: right;
    font-size:normal; 
} 
            
#converted      /*estilo para el resultado*/
{ 
    color: green; 
    font-weight: bold; 
    font-size:normal;          
    
}